%h1 Login 
= form_for :user_session, url: user_sessions_path do |f|
  %div
    = f.label :email
    = f.email_field :email
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.submit 'Login'
  %p 
    New user?
    = link_to 'Register', new_user_path
